
.cars {
    width: 75%;
}

div>h2 {
    width: fit-content;
    align-self: center;
}

.cars > div> ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cars > div> ul> li {
    width: 5rem;
    flex: 0.05 0 10%;
}