nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
  }
  
  .logo_nav {
    width: 20%; /* Ajusta el ancho según tus necesidades */
    height: auto;
  }
  
  nav > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 5%;
    padding: 0;
  }

  nav>ul>li{
    margin-left: 5%;
    margin-right: 5%;
  }
  
  a.link{
    width: 50%;
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }